<div class="sidebar">
    <div class="logo">
      <h1>Braimy.</h1>
    </div>
    <nav class="sidebar-navigation">
      <ul class="sidebar-navigation">
        
        <li>
          <i class="fa fa fa-home" aria-hidden="true"></i> <label [routerLink]="['/user/dashboard']" style="cursor: pointer;">Dashboard</label>
        </li>
        <li>
          <i class="fa fa-book-reader" aria-hidden="true"></i> <label [routerLink]="['/user/courses']" style="cursor: pointer;">Courses</label>
        </li>
        <li>
          <i class="fa fa-envelope-open-text" aria-hidden="true"></i> <label [routerLink]="['/user/notification']" style="cursor: pointer;">Notifications</label>
        </li>
        <li>
          <i class="fa fa-comments" aria-hidden="true"></i> <label [routerLink]="['/user/chat']" style="cursor: pointer;">Chat</label>
        </li>
        <li>
          <i class="fa fa-graduation-cap"></i> <label [routerLink]="['/user/mentor']" style="cursor: pointer;">Smart Mentor</label>
        </li>
        <li (click)="logout()">
          <i class="fa fa-sign-out-alt" aria-hidden="true"></i> <label  style="cursor: pointer;">Logout</label>
        </li>
      </ul>
    </nav>
  </div>
